@page "/additionals"
<h3>Additionals</h3>

<table>
    <tr>
        <td>Codice</td>
        <td>Codice</td>
        <td>Codice</td>
    </tr>
    <tr>
        <td><input type="text" name="nome_campo" value="" style="width:200px"></td>
        <td><input type="text" name="nome_campo" value="" style="width:200px"></td>
        <td><input type="text" name="nome_campo" value="" style="width:200px"></td>
    </tr>
    <tr>
        <td><button style="width:200px; height:30px">My button</button></td>
        <td><button style="width:200px; height:30px">My button</button></td>
        <td><button style="width:200px; height:30px">My button</button></td>
    </tr>
</table>