@page "/"

<h1>Hello, world!</h1>

<table>
    <tr>
        <td><input type="text" name="nome_campo" value="valore_predefinito" style="width:200px"></td>
    </tr>
    <tr>
        <td><button style="width:200px">My button</button></td>
    </tr>
</table>