@page "/"
@using System.Text
@using BlazorApp.Client.Models;
@using BlazorApp.Client.Services;
@using Microsoft.AspNetCore.SignalR.Client
@inject SerialPortService SerialPortService

<h1 style="margin-top: 0;margin-bottom: 25px;">
    Hello, Blazor Conf 2023!
</h1>

<table>
    <tr>
        <td></td>
        <td>
            <!-- PORTA SERIALE -->
            <MudSelect T="string" @bind-Value="comName" SelectedValuesChanged="OnComSelected" Label="COM port" Variant="Variant.Outlined" Dense="true">
                @foreach (var item in comList)
                {
                    <MudSelectItem Value="item" />
                }
            </MudSelect>
        </td>
        <td><MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Connect">@buttonText</MudButton></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <!-- BAUD RATE -->
            <MudSelect T="string" @bind-Value="baudRate" SelectedValuesChanged="OnBaudRateSelected" Label="Baud rate" Variant="Variant.Outlined" Dense="true">
                @foreach (var item in baudList)
                {
                    <MudSelectItem Value="item" />
                }
            </MudSelect>
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><MudTextField T="string" @bind-Value="sendBoxValue" Variant="Variant.Outlined" style="width:150px" Label="Send" Dense="true" /></td>
        <td><MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Send">@sendText</MudButton></td>
        <td></td>
    </tr>
    <!-- RIGA VUOTA -->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<!-- GRIGLIA CON BOTTONI -->
<table>
    <tr>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(1)" style="height:30px">1</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(2)" style="height:30px">2</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(3)" style="height:30px">3</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(4)" style="height:30px">4</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(5)" style="height:30px">5</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(6)" style="height:30px">6</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(7)" style="height:30px">7</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(8)" style="height:30px">8</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary" @onclick="()=>FunctionButton(9)" style="height:30px">9</MudButton></td>
    </tr>
    <tr>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0A)" style="height:30px">A</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0B)" style="height:30px">B</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0C)" style="height:30px">C</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0D)" style="height:30px">D</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0E)" style="height:30px">E</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x0F)" style="height:30px">F</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x10)" style="height:30px">10</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x11)" style="height:30px">11</MudButton></td>
        <td><MudButton Variant="Variant.Outlined" Color="Color.Primary"  @onclick="()=>FunctionButton(0x12)" style="height:30px">12</MudButton></td>
    </tr>

</table>



<table>
    <!-- DATI RICEVUTI-->
    <tr>
        <td>Received data</td>
        <td>
            <textarea id="w3review" name="w3review" rows="12" cols="100">@logAreaNotifications</textarea>
        </td>
    </tr>
</table>

